.card {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: var(--welcome-card-bg-color);
  border-radius: 8px;
  padding: 16px;
  // margin: 16px 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  > h2 {
    margin-top: 40px;
  }
}
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  color: var(--welcome-text);
  // padding: 0 16px;
  height: calc(1px + var(--welcome-nav-height));
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: var(--z-index-bottom-nav);
  background: var(--welcome-bg-end);
  padding: var(--welcome-nav-gap);
  > .fake {
    visibility: hidden;
  }
}
.vein {
  visibility: hidden;
}
.svg_contain {
  width: 128px;
}
