.btn {
  width: 100%;
  &_wrapper {
    padding: 16px 16px;
  }
}
.svg {
  &_wrapper {
    padding: 128px 0;
  }
  width: 128px;
  height: 128px;
}

.nav-icon {
  width: 30px;
  height: 30px;
  position: relative;
  top: 2px;
}

.row_in_enter_active,
.row_in_leave_active {
  transition: all 0.5s ease;
}

.row_in_enter_from,
.row_in_leave_to {
  opacity: 0;
}
