.btn {
  width: 100%;
  &_wrapper {
    padding: 16px 16px;
  }
}
.svg {
  &_wrapper {
    padding: 128px 0;
  }
  width: 128px;
  height: 128px;
}

.navIcon {
  width: 30px;
  height: 30px;
  position: relative;
  top: 2px;
}
