.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    > header {
        flex-shrink: 0; /* 不被压缩 */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    > main {
        flex-grow: 1; /* 伸缩 */
    }
    > footer {
        flex-shrink: 0;
    }
}
