@use "sass:color";
$color: #000000;

.wrapper {
  height: calc(100vh - var(--welcome-nav-height));
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom,
    var(--welcome-bg-start) 0%,
    #b942ff 60%,
    var(--welcome-bg-end) 100%
  );
  margin-bottom: var(--welcome-nav-height);
  > header {
    padding-top: 66px;
    flex-shrink: 0; /* 不被压缩 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #d4d4d4;
  }
  > main {
    flex-grow: 1; /* 伸缩 */
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 16px 16px var(--welcome-nav-gap);
  }
  > footer {
    flex-shrink: 0;
  }
}

.main_svg_container {
  width: 96px;
}
.slide_fade_enter_active,
.slide_fade_leave_active {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all var(--animation-direction) ease-in-out;
}

.slide_fade_enter_from {
  transform: translateX(100vw); // 右整个屏幕
}
.slide_fade_leave_to {
  transform: translateX(-100vw);
}

.slide_fade_enter_from_rev {
  transform: translateX(-100vw); 
}
.slide_fade_leave_to_rev {
  transform: translateX(100vw);
}
