
.btn {
  border: 1px solid var(--button-theme);
  padding: 8px 16px;
  background: var(--button-theme);
  color: var(--button-font-theme);
  font-size: var(--button-font-size);
  border-radius: var(--button-radius);
  height: var(--button-h);// button 的字默认居中
  &:hover{
    border-color: red;
  }
}
