@use "sass:math";
.btn {
  border: 1px solid var(--button-theme);
  padding: 8px 16px;
  background: var(--button-theme);
  color: var(--button-font-theme);
  font-size: var(--button-font-size);
  border-radius: var(--button-radius);
  height: var(--button-h);// button 的字默认居中
  &:hover{
    border-color: gray;
  }
}
.fbtn{
  background: var(--float-button-theme);
  width: 56px;
  height: 56px;
  border-radius: 50%/* math.div(56px,2)*/;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 16px;
  right: 16px;
  >.icon{
    color: var(--float-button-text);
    width: 24px;
    height: 24px;
  }
}
