.inputPad {
  content: "";
}
.dataAmount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-top: 1px solid var(--number-pad-border-color);
  font-family: monospace;
  > .date {
    font-size: 16px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--date-theme);
    > .icon {
      color: var(--amount-text-theme);
      margin-right: 8px;
    }
  }
  > .amount {
    font-size: 24px;
    font-family: monospace;
    color: var(--amount-text-theme);
    > .yuan {
      vertical-align: bottom;
    }
  }
}
.buttons {
  display: grid;
  grid-template-areas:
    "n1 n2 n3 dd"
    "n4 n5 n6 dd"
    "n7 n8 n9 ss"
    "n0 n0 nd ss";
  grid-auto-rows: 64px;
  grid-auto-rows: 1fr;
  flex-wrap: wrap;
  border-top: 1px solid var(--number-pad-border-color);
  font-size: 20px;
  gap: 1px;
  background-color: var(--number-pad-border-color);
  height: 32vh; // important!
  > button {
    &:active {
      animation: bounce 0.3s;
      color: var(--button-font-theme);
    }
    border-radius: 6px;
    background-color: var(--button-font-theme);
    border: none;
    // gen
    @for $i from 1 to 9 {
      &:nth-child(#{$i}) {
        grid-area: #{"n" + $i};
      }
    }
    &:nth-child(10) {
      grid-area: n0;
    }
    &:nth-child(11) {
      grid-area: nd;
    }
    &:nth-child(12) {
      grid-area: dd;
    }
    &:nth-child(13) {
      grid-area: ss;
      background-color: var(--button-primary);
      color: var(--button-font-theme);
    }
  }
}

@keyframes bounce {
  0% {
    background-color: rgba(245, 75, 231);
    transform: scale(0.9);
  }
  70% {
    background-color: rgba(245, 75, 231, 0.7);
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
