.navbar {
  background: linear-gradient(
    to bottom,
    var(--navbar-bg-start),
    var(--navbar-bg-end)
  );
  color: var(--foreground-theme);
  display: flex;
  justify-content: flex-start;
  align-content: center;
  padding: calc(12px + 28px) 16px 12px;
}
.icon {
  &_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    > * {
      max-width: 100%;
      max-width: 100%;
    }
  }
  width: 30px;
  height: 30px;
  position: relative;
  top: 2px;
}
.title_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  margin-left: 12px;
}
