:root {
  /* blow Status bar*/
  --main-theme: linear-gradient(
    to bottom,
    #8751ce 0%,
    #b942ff 60%,
    var(--welcome-bg-end) 100%
  );
  --welcome-card-bg-color: white;
  --welcome-text: white;
  --welcome-bg-start: #7556bd;
  --welcome-bg-end: #b841ff;
  --z-index-bottom-nav: 1;
  --welcome-nav-height: 64px;
  --welcome-nav-gap: 8px;
  --animation-direction: 0.5s;
  --button-theme: #b942ff;
  --button-font-theme: white;
  --button-font-size: 18px;
  --button-radius: 8px;
  --button-h: 48px;
  --float-button-text: white;
  --float-button-theme: var(--button-theme);
  --navbar-bg-start: var(--welcome-bg-start);
  --navbar-bg-end: var(--welcome-bg-end);
  --foreground-theme: white;
  --z-index-overlay: 20;
  --overlay-mask-bg: rgba(0, 0, 0, 0.5);
  --overlay-main-bg: white;
  --top-safe-area-height: 24px;
  --overlay-user-bg: var(--welcome-bg-start);
  --overlay-user-text: white;
  --tabs-theme: linear-gradient(
    to bottom,
    #b842ff 0%,
    var(--welcome-bg-end) 100%
  );
  --tabs-indicator-bg: rgba(255, 255, 255, 0.5);
  --number-pad-border-color: #ddd;
  --amount-text-theme: #4d8821;
  --date-theme: #6b6b6b;
}
