:root {
  --welcome-card-bg-color: white;
  --welcome-text: white;
  --welcome-bg-start: #7556bd;
  --welcome-bg-end: #b841ff;
  --z-index-bottom-nav: 1;
  --welcome-nav-height: 64px;
  --welcome-nav-gap: 8px;
}
